<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="DemoToursRegressionSuite">
  <test name="FunctionalTest">
  <parameter name="browser" value="chrome"/>
  <parameter name="url" value="http://demo.guru99.com/test/newtours/"/>
    <classes>
      <!-- class name="TestNG.Registration" -->
      <class name="TestNG.HomePage"/>
    </classes>
  </test> <!-- FunctionalTest -->
</suite> <!-- DemoToursRegressionSuite -->
